<!DOCTYPE html>
<html>
<head>
	<title></title>

	<link rel="stylesheet" type="text/css" href="sj1.css">
</head>
<body style="background-color: rgb(28, 5, 7);">

<h1 style="text-align:center; color: white;">Uni News</h1>


<div style="background-color: rgb(64, 73, 89); display: flex; padding: 10px; border: 3px solid black; margin-bottom: 5px;">
	<img class="imgsize" src="aa.jpg" style="margin-right: 30px; border: 5px solid rgb(27,33,44); " >
	<div>
	<h4 style="margin-bottom: 15px;">Title of the News</h4>
	<h5 style="display: inline; " >Writer:</h5>
	<h5 style="display: inline; margin-left: 10px;">amirhossein</h5>
	<p >sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf      sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf     sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs   </p>
	<h5 style="display: inline;">date:2018.10.21</h5>
	<button style="margin-left: 800px; background-color: rgb(27,33,44); ">Read more</button>
	
	</div>
	
</div>

<div style="background-color: rgb(64, 73, 89); display: flex; padding: 10px; border: 3px solid black; margin-bottom: 5px;">
	<img class="imgsize" src="aa.jpg" style="margin-right: 30px; border: 5px solid rgb(27,33,44); " >
	<div>
	<h4 style="margin-bottom: 15px;">Title of the News</h4>
	<h5 style="display: inline; " >Writer:</h5>
	<h5 style="display: inline; margin-left: 10px;">amirhossein</h5>
	<p >sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf      sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf     sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs   </p>
	<h5 style="display: inline;">date:2018.10.21</h5>
	<button style="margin-left: 800px; background-color: rgb(27,33,44); ">Read more</button>
	
	</div>
	
</div>


<div style="background-color: rgb(64, 73, 89); display: flex; padding: 10px; border: 3px solid black; margin-bottom: 5px;">
	<img class="imgsize" src="aa.jpg" style="margin-right: 30px; border: 5px solid rgb(27,33,44); " >
	<div>
	<h4 style="margin-bottom: 15px;">Title of the News</h4>
	<h5 style="display: inline; " >Writer:</h5>
	<h5 style="display: inline; margin-left: 10px;">amirhossein</h5>
	<p >sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf      sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf     sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs fnskjfkjshkjfnsf sdjhkjdhad jfnkjsfjsfksflkjfjsfsfs   </p>
	<h5 style="display: inline;">date:2018.10.21</h5>
	<button style="margin-left: 800px; background-color: rgb(27,33,44); ">Read more</button>
	
	</div>
	
</div>


</body>
</html>